$browser-default-font-size: 75px !default;
@function pr($px) {
  @return $px / $browser-default-font-size * 1rem;
}
input, select {
  font-family: '微软雅黑';
}
// 文本显示多少行就省略
@mixin ells($row) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}
// 垂直居中，两端对齐
.space-between {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
// 垂直居中，水平居中
.space-around {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.wrap {
  width: pr(750px);
  margin: 0 auto;
}
.imba-head {
  @extend .space-between;
  height: pr(80px);
  padding: 0 pr(20px);
  .logo {
    width: pr(184px);
  }
  .tel {
    display: none;
    width: pr(50px);
    height: pr(50px);
    background: url(https://img.thea.cn/public/platform/thea/202001/hbj/i-mba/images/tel.png) no-repeat;
    background-size: 100% 100%;
  }
}
.imba-banner {
  margin-top: pr(-80px);
  a {
    display: block;
    width: pr(750px);
    height: pr(470px);
  }
}
.imba-title {
  font-size: pr(40px);
  line-height: pr(40px);
  color: #333333;
  font-weight: bold;
  text-align: center;
  span {
    color: #3762e5;
  }
}
.imba-subtitle {
  font-size: pr(22px);
  line-height: pr(72px);
  color: #888888;
  text-align: center;
}
.imba-btn {
  background-color: #ec5234;
  color: #fff;
}
.imba-what {
  padding: pr(50px) pr(20px) pr(30px);
  .imba-title {
    margin-bottom: pr(50px);
  }
  .what-cont {
    background-color: #ffffff;
    box-shadow: pr(6px) 0px pr(20px) 0px rgba(19, 29, 60, 0.16);
    border-radius: pr(20px);
    padding: pr(40px) 0 pr(20px);
    @extend .space-between;
    .cont-col {
      .col-title {
        height: pr(56px);
        line-height: pr(56px);
        border: solid 1px #ec5234;
        box-sizing: border-box;
        font-size: pr(30px);
        font-weight: bold;
        color: #ec5234;
        padding-right: pr(8px);
        span {
          display: inline-block;
          color: #fff;
          background-color: #ec5234;
          padding: 0 pr(16px);
          margin-right: pr(10px);
        }
      }
      .col-pk {
        width: pr(140px);
        height: pr(56px);
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: pr(80px);
          height: pr(36px);
        }
      }
      li {
        height: pr(110px);
        font-size: pr(22px);
        color: #333333;
        display: flex;
        align-items: center;
        border-bottom: dotted 1px #bbbbbb;
        box-sizing: border-box;
        span {
          color: #ec5234;
        }
        .imba-btn {
          color: #fff;
          width: 100%;
          height: pr(46px);
          line-height: pr(46px);
          text-align: center;
          border-radius: pr(23px);
        }
        &:last-child {
          border-bottom: none;
        }
      }
      &:nth-of-type(1) {
        width: 42%;
        .col-title {
          margin-left: pr(20px);
        }
        li {
          justify-content: flex-end;
        }
      }
      &:nth-of-type(2) {
        width: 20%;
        ul {
          position: relative;
          &::before {
            content: "";
            width: 0;
            height: 100%;
            border-left: dotted 1px #bbbbbb;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 1;
          }
        }
        li {
          .imba-btn {
            width: 92%;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 10;
          }
        }
      }
      &:nth-of-type(3) {
        width: 38%;
        .col-title {
          margin-right: pr(20px);
          border: solid 1px #999999;
          color: #666666;
          span {
            background: #999999;
          }
        }
        li {
          color: #666666;
        }
      }
    }
  }
}
.imba-enter {
  padding: pr(30px) pr(20px);
  .sign-in {
    padding-top: pr(50px);
  }
  select,
  input {
    appearance: none;
    width: 100%;
    height: pr(68px);
    line-height: pr(68px);
    border-radius: pr(10px);
    border: solid 1px #cccccc;
    box-sizing: border-box;
    margin-bottom: pr(20px);
    font-size: pr(26px);
  }
  select {
    padding: 0 1em;
    background: url(https://img.thea.cn/public/platform/thea/202001/hbj/i-mba/images/sel.png) no-repeat 96%;
    background-size: pr(23px) pr(13px);
  }
  input {
    text-indent: 1em;
  }
  input[type="submit"] {
    border: none;
    border-radius: pr(34px);
    font-size: pr(30px);
  }
}
.imba-choice {
  padding: pr(20px) pr(20px) pr(30px);
  .choice-cont {
    width: 100%;
    border-radius: pr(11px);
    border: dotted 1px #bbbbbb;
    margin-top: pr(50px);
    padding: pr(40px) pr(20px);
    box-sizing: border-box;
    .cont-title {
      font-size: pr(30px);
      line-height: pr(30px);
      color: #333333;
      margin-bottom: pr(40px);
      text-align: center;
    }
  }
}
.imba-nav {
  padding: 0 pr(20px);
  ul {
    @extend .space-around;
    width: 100%;
    border: 1px dotted #bbbbbb;
    padding-top: pr(60px);
    box-sizing: border-box;
    border-radius: pr(11px);
    li {
      @extend .space-between;
      margin-bottom: pr(60px);
    }
    .li-l {
      width: pr(80px);
      margin-right: pr(14px);
    }
    .li-r {
      .r-title {
        font-size: pr(32px);
        font-weight: bold;
        line-height: pr(38px);
        color: #ec5234;
      }
      p {
        font-size: pr(24px);
        line-height: 1.6;
        color: #999999;
      }
    }
  }
}
.imba-super {
  padding: pr(70px) pr(20px) pr(30px);
  ul {
    @extend .space-between;
    li {
      width: 48%;
      box-shadow: 0px pr(2px) pr(8px) 0px rgba(11, 78, 62, 0.1);
      padding-bottom: pr(28px);
      margin-bottom: 4%;
    }
    .li-bg {
      position: relative;
      .bg-title {
        width: 100%;
        font-size: pr(26px);
        font-weight: bold;
        line-height: pr(50px);
        color: #ffffff;
        position: absolute;
        bottom: 0;
        background: rgba(51, 51, 51, 0.7);
        text-align: center;
      }
    }
    .li-text {
      text-align: center;
      font-size: pr(22px);
      line-height: pr(23px);
      color: #666666;
      padding: pr(30px) 0 pr(24px);
      span {
        &:nth-of-type(1) {
          margin-right: pr(10px);
        }
      }
    }
    .li-btn {
      display: block;
      width: pr(180px);
      height: pr(52px);
      line-height: pr(52px);
      border-radius: pr(26px);
      border: solid 1px #ec5234;
      color: #ec5234;
      box-sizing: border-box;
      text-align: center;
      margin: 0 auto;
      font-size: pr(24px);
      &:hover {
        background: #ec5234;
        color: #fff;
      }
    }
  }
}
.imba-down {
  padding: 0 pr(20px);
  a {
    display: block;
    width: 100%;
    height: pr(200px);
    background: url(https://img.thea.cn/public/platform/thea/202001/hbj/i-mba/images/down.png) no-repeat;
    background-size: 100% auto;
  }
}
.imba-schools {
  padding: pr(50px) pr(20px) pr(30px);
  ul {
    @extend .space-between;
    padding: pr(50px) 0 pr(30px);
    li {
      width: 48%;
      height: pr(109px);
      margin-bottom: 4%;
      background-color: #ffffff;
      border: solid 1px #dddddd;
      padding: pr(4px) 0;
      box-sizing: border-box;
      text-align: center;
      img {
        height: 100%;
      }
      &.more {
        border: none;
        line-height: pr(100px);
        em {
          display: inline-block;
          width: pr(12px);
          height: pr(12px);
          background: #bbbbbb;
          border-radius: 50%;
          margin: 0 pr(4px);
        }
      }
    }
  }
  .imba-btn {
    display: block;
    width: 100%;
    height: pr(68px);
    line-height: pr(68px);
    border-radius: pr(34px);
    text-align: center;
    font-size: pr(30px);
  }
}
.imba-lce {
  padding: pr(30px) 0 pr(50px);
  .imba-subtitle {
    margin-bottom: pr(40px);
  }
  .swiper-container {
    width: pr(620px);
    height: pr(380px);
    padding-bottom: pr(50px);
    .swiper-pagination-bullets {
      bottom: 0;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  .swiper-pagination-bullet{
    width: pr(22px);
    height: pr(22px);
  }
  .swiper-pagination-bullet-active {
    background: #f55e38;
  }
}
.imba-win {
  padding: 0 pr(20px) pr(30px);
  .win-title {
    font-size: pr(42px);
    line-height: pr(72px);
    color: #666666;
    text-align: center;
  }
  .win-cont {
    padding-top: pr(40px);
  }
  .big-img{
    position: relative;
    margin-bottom: pr(30px);
  }
  ul{
    @extend .space-between;
  }
  li{
    width: 48%;
    margin-bottom: 4%;
    position: relative;
  }
  .win-txt{
    width: 100%;
    line-height: pr(48px);
    font-size: pr(24px);
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: absolute;
    bottom: 0;
  }
}
.imba-classes {
  padding: pr(40px) pr(75px) pr(50px);
  background: url(https://img.thea.cn/public/platform/thea/202001/hbj/i-mba/images/bg_1.png) no-repeat;
  background-size: 100% 100%;
  .classes-title {
    padding: 0 pr(20px);
    font-size: pr(46px);
    line-height: pr(60px);
    color: #ffffff;
    text-align: center;
    margin-bottom: pr(50px);
    span {
      color: #f76740;
    }
  }
  input {
    width: 100%;
    height: pr(68px);
    line-height: pr(68px);
    border-radius: pr(10px);
    border: solid 1px #cccccc;
    box-sizing: border-box;
    margin-bottom: pr(20px);
    text-indent: 1em;
    font-size: pr(26px);
  }
  .imba-btn {
    border: none;
    text-indent: 0;
    border-radius: pr(34px);
    font-size: pr(30px);
  }
}
.imba-footer {
  width: 100%;
  padding: pr(18px) 0;
  box-sizing: border-box;
  background-color: #333333;
  font-size: pr(20px);
  line-height: pr(32px);
  color: rgba(250, 250, 250, 0.4);
  text-align: center;
}
// 底部悬浮
.imba-consult {
  width: pr(750px);
  height: pr(140px);
  padding: pr(20px) pr(20px);
  box-sizing: border-box;
  background: #fff;
  position: fixed;
  bottom: 0;
  z-index: 30;
  .imba-btn {
    display: block;
    width: 100%;
    height: pr(96px);
    line-height: pr(96px);
    border-radius: pr(10px);
    text-align: center;
    font-size: pr(30px);
    .icon {
      display: inline-block;
      width: pr(39px);
      height: pr(37px);
      background: url(https://img.thea.cn/public/platform/thea/202001/hbj/i-mba/images/icon_7.png) no-repeat;
      background-size: 100% 100%;
      vertical-align: middle;
    }
  }
}
body{
  padding-bottom: pr(140px);
}
/* 弹窗 */
.appoint-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 40;
  display: none;
  .masklayer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .popup-cont {
    width: pr(560px);
    height: pr(800px);
    background: url("https://img.thea.cn/public/platform/thea/202001/hbj/i-mba/images/popup.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding-top: pr(160px);
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  .sign-in {
    padding: pr(50px) pr(40px) pr(58px);
    input {
      width: 100%;
      height: pr(70px);
      line-height: pr(70px);
      margin-bottom: pr(24px);
      background-color: #f8f8f8;
      border-radius: pr(6px);
      border: solid 1px #cccccc;
      font-size: pr(28px);
      text-indent: 1em;
    }
    input[type="submit"] {
      background-color: #ec5234;
      border: solid 1px #ec5234;
      color: #ffffff;
      font-size: pr(30px);
      text-indent: 0;
    }
    select {
      width: 100%;
      height: pr(70px);
      line-height: pr(70px);
      margin-bottom: pr(24px);
      border-radius: pr(6px);
      border: solid 1px #cccccc;
      font-size: pr(28px);
      background: url("https://img.thea.cn/public/platform/thea/202001/hbj/i-mba/images/sel.png") no-repeat 96% #f8f8f8;
      background-size: pr(23px) pr(13px);
      padding: 0 pr(28px);
      appearance: none;
      option {
        color: #333333;
        &:first-child {
          color: #999999;
        }
      }
    }
  }
  .close {
    display: block;
    width: pr(80px);
    height: pr(80px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
  }
}
